.att {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: 820fr 460fr;
  grid-gap: 60px;
  @include lg-block {
    grid-template-columns: 750fr 500fr;
    grid-gap: 0;
  }
  @include sm-block {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 25px 20px 0 20px;
  }

  &__left {
    padding: 60px 0 60px 65px;
    @include lg-block {
      padding: 35px 0 55px 25px;
    }
    @include sm-block{
      padding: 0;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    @include lg-block {
      font-size: 18px;
    }
  }

  &__content {
    margin-bottom: 25px;
    @include lg-block {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
      @include sm-block{
        font-size: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__sub {
    font-size: 24px;
    font-weight: 700;
    @include lg-block {
      font-size: 18px;
    }
  }

  &__right {
    position: relative;
    @include sm-block{
      display: flex;
      justify-content: center;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
    @include sm-block{
      position: static;
      width: 233px;
    }

    img {
      display: block;
    }
  }
}