.docs {
  padding-top: 120px;
  padding-bottom: 100px;
  @include lg-block {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  @include sm-block{
    padding-top: 30px;
  }

  max-width: 1180px;
  margin: 0 auto;

  &__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
    @include sm-block{
      font-size: 24px;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__sws {
    display: flex;
    align-items: flex-end;
    @include sm-block {
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 20px;
    }

    &.open{
      .docs__sw{
        @include sm-block{
          display: flex;
        }
      }
    }
  }

  &__sw {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0 0;
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    @include lg-block {
      padding: 15px 30px;
    }
    @include sm-block{
      text-align: left;
      justify-content: flex-start;
      display: none;
      padding: 10px 20px 10px 10px;
      border-radius: 10px;
      box-shadow: none;
      border: 1px solid #eef2f4;
    }


    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        z-index: #{11-$i};
      }
    }

    &-img {
      width: 76px;
      height: 76px;
      border: 4px solid #F2F2F2;
      border-radius: 50%;
      overflow: hidden;

      @include lg-block {
        width: 56px;
        height: 56px;
      }
    }

    &-name{
      display: none;
      font-weight: bold;
      color: #333333;
      margin-left: 20px;


      @include sm-block{
        display: block;
      }
      @include sm-block{
        font-size: 16px;
      }
    }

    &.active {
      background-color: #eef2f4;
      padding: 25px 50px;
      z-index: 20;
      box-shadow: none;
      @include lg-block {
        padding: 15px 30px;
      }
      @include sm-block{
        display: flex;
        padding: 10px 20px 10px 15px;
        order: -1;

        &:after{
          content: '';
          width: 0;
          height: 0;
          margin-left: auto;
          border-style: solid;
          border-width: 8px 5px 0 5px;
          border-color: #E79089 transparent transparent transparent;
        }
      }

      .docs {
        &__sw {
          &-img {
            width: 95px;
            height: 95px;
            border-color: $btn;
            border-width: 6px;
            @include lg-block {
              width: 72px;
              height: 72px;
            }
            @include sm-block{
              width: 60px;
              height: 60px;
              border-width: 4px;
            }
          }
        }
      }
    }
  }

  &__tabs {
    position: relative;
    z-index: 20;
  }

  &__tab {
    display: none;

    &.active {
      display: block;
    }
  }
}

.dtab {
  background-color: #eef2f4;
  border-radius: 0 10px 10px 10px;
  padding: 65px 25px 85px 60px;
  @include lg-block {
    padding: 60px 15px;
  }
  @include sm-block{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__top {
    @include u-row-flex(50px);
    margin-bottom: 50px;
    color: #333333;
    @include lg-block {
      @include u-row-flex(15px);
      margin-bottom: 30px;
    }
    @include sm-block{
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    @include lg-block {
      font-size: 24px;
    }
    @include sm-block{
      display: none;
    }
  }

  &__sub {
    max-width: 567px;
    font-size: 18px;
    @include lg-block {
      font-size: 14px;
    }
  }

  &__bottom {
    @include u-row-flex(50px);
    @include lg-block {
      @include u-row-flex(15px);
    }
  }

  &__left {
    @include u-col(50px);
    @include u-size(3, 10, 50px);
    @include lg-block {
      @include u-col(15px);
      @include u-size(3.2, 10, 15px);
    }
    @include sm-block{
      @include u-size(10, 10, 15px);
      margin-bottom: 20px;
    }
  }

  &__right {
    @include u-col(50px);
    @include u-size(7, 10, 50px);
    @include lg-block {
      @include u-col(15px);
      @include u-size(6.8, 10, 15px);
    }
    @include sm-block{
      @include u-size(10, 10, 15px);
    }
  }

  &__img {
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    @include sm-block{
      width: 255px;
      margin: 0 auto;
      margin-bottom: 35px;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  &__txt {
    opacity: 0.6;
    color: #333333;
    font-style: italic;
    @include lg-block {
      font-size: 14px;
    }
    @include sm-block{
      width: 260px;
      margin: 0 auto;
      text-align: center;
    }
  }

}

.dslider {
  width: 100%;
  max-width: 100%;
}

.dslide {
  box-sizing: border-box;

  &__top {
    margin-bottom: 25px;
    @include lg-block {
      margin-bottom: 15px;
    }
    @include sm-block{
      display: none;
    }
  }

  &__title {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    @include lg-block {
      font-size: 16px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    @include lg-block {
      grid-gap: 10px;
    }
    @include sm-block{
           grid-template-columns: 1fr;
      grid-gap: 30px;
    }
  }

  &__col{
    &_sm{
      display: none;
      @include sm-block{
        display: block;
      }
      &:before{
        display: none!important;
      }
    }

    @include sm-block{
        &:before{
          content: attr(data-title);
          display: block;
          color: #333333;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 20px;
        }
    }

  }

  &__bottom {
    position: relative;
  }

  &__week {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 25px 25px 25px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background-color: $green;

    color: $bg;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    @include sm-block{
      display: none;
    }

    &_sm {
      @include sm-block{
        display: flex;
      }
      align-items: center;
      justify-content: center;
      text-align: center;
      position: static;
      border-radius: 0;
      transform: none;
      height: 60px;
      padding: 0;
      font-size: 16px;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @include lg-block {
      margin-bottom: 20px;
    }
  }

  &__btn{
    @include tr;
    @include sm-block{
      display: none;
    }

    &:hover{
      opacity: .8;
    }
  }

  &__img {
    border: 3px solid #E79089;
    border-radius: 12px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }
  }

  &__txt {
    opacity: 0.6;
    color: #333333;
    font-size: 14px;
    margin-bottom: 15px;
    @include lg-block {
      font-size: 12px;
    }
  }

  &__li {
    color: #333333;
    font-size: 14px;
    margin-bottom: 10px;
    @include lg-block {
      font-size: 12px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      top: 5px;
      background-color: #ffb706;
    }
  }

}
