.footer {
  padding-top: 100px;
  padding-bottom: 30px;
  @include lg-block{
    padding-top: 50px;
    padding-bottom: 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    @include lg-block{
      margin-bottom: 60px;
    }
  }

  &__contacts{
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    line-height: lh(18,31.77);
  }

  &__imgs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    @include lg-block{
      max-width: 355px;
      grid-gap: 15px;
    }
  }

  &__bottom{
    display: flex;
  }

  &__logo{
    flex-shrink: 0;
    margin-right: 35px;
    width: 217px;
  }

  &__copy{
    font-size: 14px;
    @include lg-block{
      font-size: 12px;
    }
  }
}