.header {
  color: #333333;
  border-bottom: 1px solid #e7e7e7;
  padding: 20px 0;
  @include lg-block {
    font-size: 14px;
  }
  @include sm-block {
    border: none;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm-block {
      flex-wrap: wrap;
    }
  }

  &__logo {
    @include lg-block {
      width: 167px;
    }
    @include sm-block {
      width: 112px;
    }
  }

  &__time{
    @include sm-block{
      margin-top: 20px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include sm-block {
      align-items: flex-start;
      margin-top: 20px;
    }
  }

  &__call {
    text-decoration: underline;
    @include tr;
    &:hover{
      color: $btn;
    }
  }

}

.metro {
  display: flex;
  align-items: center;

  &__img {
    flex-shrink: 0;
    margin-right: 20px;
    @include lg-block {
      width: 36px;
      margin-right: 10px;
    }
  }

}

.tel {
  font-size: 24px;
  font-weight: 700;
  @include tr;
  @include lg-block {
    font-size: 18px;
  }

  &:hover{
    color: $btn;
  }
}