.index{
    &__second{
      background-color: #eef2f4;
      padding-top: 90px;
      padding-bottom: 100px;
    }

  &__att{
    margin-bottom: 120px;
  }

  &__booking{
    transform: translateY(-50%);
  }

  &__third{
    padding-top: 100px;
    padding-bottom: 110px;
  }

  &__cert{
    margin-bottom: 90px;
  }

  &__map{
    height: 504px;
    iframe{
      width: 100%;
      height: 100%;
      border: none;
    }
  }


}