.results {
  background-color: #eef2f4;
  padding-top: 100px;
  padding-bottom: 100px;
  @include lg-block {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container {
    max-width: 1200px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @include lg-block {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas: 'title count' 'title txt';
      padding-right: 30px;
    }
  }

  &__title {
    max-width: 506px;
    font-size: 38px;
    font-weight: 700;
    line-height: lh(38, 49);
    margin-right: auto;
    @include lg-block {
      font-size: 30px;
      max-width: 354px;
      grid-area: title;
    }
  }

  &__count {
    color: $btn;
    font-size: 75px;
    font-weight: 700;
    margin-right: 20px;
    @include lg-block {
      font-size: 60px;
      grid-area: count;
      line-height: 1;
    }
  }

  &__txt {
    @include lg-block {
      grid-area: txt;
    }
  }

  &__thumbs {
    margin-bottom: 40px;
  }

  &__slider {

  }

  &__info {

  }

}

.rthumbs {
  position: relative;
  padding: 0 60px;
  margin: 0 -60px;

  &__item {
    border-radius: 10px;
    border: 2px solid transparent;
    box-sizing: border-box;
    overflow: hidden;

    img {
      display: block;
    }

    &.swiper-slide-thumb-active {
      border: 2px solid $btn;
    }
  }

  &__nav {
    position: absolute;
    top: 50%;
    margin-top: -33px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
  }

  &__btn {
    pointer-events: all;
  }
}

.rslider {
  margin: -20px;
  padding: 20px;
}

.rslide {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: $bg;
  padding: 50px;
  box-sizing: border-box;
  @include lg-block {
    padding: 20px 20px 60px 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 3.5fr 7.5fr;
    grid-gap: 50px;
    @include lg-block {
      grid-gap: 20px;
    }
  }

  &__img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;

    img {
      display: block;
    }
  }

  &__txt {
    opacity: 0.6;
    @include lg-block {
      font-size: 14px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }


}

.rcol {

  &__img {
    border-radius: 12px;
    border: 3px solid $btn;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;

    &:before {
      content: '';
      display: block;
      padding-top: calc(207 / 326 * 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__txt {
    opacity: 0.6;
    font-size: 14px;
    @include lg-block {
      font-size: 12px;
    }
  }
}

.rinfo {
  border-radius: 10px;
  background-color: $bg;
  padding: 40px 25px 20px 25px;
  display: flex;
  align-items: center;
  transform: translateY(-20px);

  &__img {
    border-radius: 50%;
    overflow: hidden;
    background-color: #fbe2bc;
    margin-right: 20px;
    flex-shrink: 0;
    @include lg-block {
      width: 88px;
      height: 88px;
      margin-right: 15px;
    }

    img {
      display: block;
    }
  }

  &__desc {
    opacity: 0.6;
    font-size: 14px;

    b {
      font-size: 16px;
      font-weight: 600;
    }
  }

}