.specs{
  background-color: #dee5e9;
  padding-top: 100px;
  padding-bottom: 140px;
  @include lg-block{
    padding-top: 70px;
  }
  @include sm-block{
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .container{
    @include lg-block{
      max-width: 660px;
    }

  }

  &__title{
    max-width: 693px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    @include lg-block{
      font-size: 32px;
      max-width: 479px;
    }
    @include sm-block{
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  &__sub{
    max-width: 1180px;
    font-size: 24px;
    margin-bottom: 65px;
    @include sm-block{
      font-size: 16px;
      margin-bottom: 40px;
    }
  }

  &__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    @include to(1400px){
        grid-template-columns: 1fr;
    }
    @include sm-block{
      margin-right: -10px;
      margin-left: -10px;
      padding: 0 10px;
      grid-template-columns: repeat(2,292px);
      grid-gap: 10px;
      overflow-x: auto;
    }
  }
}

.sitem{
  border-radius: 20px;
  background-color: $bg;
  padding: 55px;
  position: relative;
  @include sm-block{
    padding: 25px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }

  &__bg{
    position: absolute;
    bottom: 0;
    right: 20px;
    @include sm-block{
      order: 1;
      position: static;
    }

    img{
      display: block;
      @include sm-block{
        width: 227px;
      }
    }
  }

  &__btn{
    position: absolute;
    bottom: 60px;
    right: 3px;
    @include sm-block{
      bottom: 40px;
      right: 20px;
    }
    @include tr;
    &:hover{
      opacity: .8;
    }

    &-name{
      display: block;
      border-radius: 63px;
      border: 4px solid $btn;
      background-color: $btn;
      color: $bg;
      font-size: 14px;
      font-weight: 700;
      padding: 15px 40px 15px 100px;
      box-shadow: 0 4px 40px rgba(227, 132, 127, 0.5);
    }

    &-svg{
      position: absolute;
      top: 50%;
      left: -7px;
      transform: translateY(-50%);
      box-shadow: 0 4px 40px rgba(227, 132, 127, 0.5);
      border-radius: 50%;
      svg{
        display: block;
      }
    }
  }

  &__wrap{
    max-width: 270px;
    color: #4f4f4f;
  }

  &__member{
    display: flex;
    align-items: center;
    color: #4f4f4f;
    margin-bottom: 45px;
    @include sm-block{
      margin-bottom: 10px;
    }

    &:before{
      content: '';
      flex-shrink: 0;
      display: block;
      width: 15px;
      height: 15px;
      background-color: #4ba67a;
      border-radius: 50%;
      margin-right: 20px;
    }
  }

  &__prof{
    margin-bottom: 15px;
    @include sm-block{
      margin-bottom: 10px;
    }
  }

  &__name{
    font-size: 24px;
    font-weight: 700;
    line-height: lh(24,30);
    margin-bottom: 15px;
    @include sm-block{
      font-size: 20px;
    }
  }

  &__age{
    margin-bottom: 30px;
    @include sm-block{
      margin-bottom: 20px;
    }
  }

  &__imgs{
    display: flex;
  }

  &__img{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
    img{
      display: block;
    }
  }


}