-
    var bannerList = [
        'Хасянов <br> Дамир Шамилевич',
        'Хасянов <br> Айрат Шамилевич',
    ];

-
    var howCols = [
        {
            title: 'Хирургический этап',
            txt:'— это этап, на котором ставят только имплант и который выдаётся некоторыми клиниками за имплантацию «под ключ»',
            list: [
                {
                    img: 'images/content/how/1-1.png',
                    title: 'Вид и метод имплантации'
                },
                {
                    img: 'images/content/how/1-2.png',
                    title: 'Работа имплантолога'
                },
                {
                    img: 'images/content/how/1-3.png',
                    title: 'Анестезия и материалы'
                },

            ],
            total: {
                old: '31,8 т.р.',
                new: '14 т.р.'
            }
        },
        {
            title: 'Ортопедический этап',
            txt:'— это этап протезирования, который многие клиники чаще всего не указывают в стоимости имплантации «под ключ»',
            list: [
                {
                    img: 'images/content/how/2-1.png',
                    title: 'Формирователь десны'
                },
                {
                    img: 'images/content/how/2-2.png',
                    title: 'Индивидуальный абатмент'
                },
                {
                    img: 'images/content/how/2-3.png',
                    title: 'Коронка на имплант'
                },
            ],
            total: {
                new: '25 т.р.'
            }
        },


    ];

-
    var priceList = ['Alpha Bio','Osstem','Nobel','Implantium','Superline','Astra','Mis'];

-
    var advantsList = [
        {
            title: 'Лицензии',
            txt: 'Клиника лицензирована <br> Министерством Здравоохранения'
        },
        {
            title: 'Гарантии',
            txt: 'Гарантия на лечение, <br> имплантацию, отртопедию'
        },
        {
            title: 'План лечения',
            txt: 'Составляем план лечения <br> и консультация бесплатно'
        },
        {
            title: 'Лечение без боли',
            txt: 'Составляем план лечения <br> и консультация бесплатно'
        }
    ];